.links {
  border: 2px solid hsla(0, 0%, 2%, 0.2);
  border-radius: 10px;
  width: 90%;
  height: 40px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgb(17, 237, 21);
  font-size: 28px;
  box-shadow: 0 0 5px hsla(0, 0%, 2%, 0.2);
  transition: all 0.3s ease-in-out;
  color: hsla(0, 0%, 2%, 0.2);
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border-color:  black;
}

.links:hover {
  background-color: hsla(0, 0%, 2%, 0.2);
  color: hsla(0, 0%, 2%, 1);
  scale: 1.05;
}

a:visited {
  color: hsla(0, 0%, 2%, 1);
}
a:link {
  color: hsla(0, 0%, 2%, 1);
}
a:active {
  color: rgb(174, 166, 16);
} 



.container-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: hsla(152, 100%, 50%, 1);
  gap: 20px;
  background: radial-gradient(
    circle,
    hsla(152, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(152, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(152, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00ff87", endColorstr="#60efff", GradientType=1 );
}
